/* i suck at web design dont judge */
body{
  background-color: #2c3e50;
}
#header{
  color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
      text-align: center;
      font-size: 50px;
}
#subheader{
  color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
      text-align: center;
}
/* headani thx to animista.net */
.headani{-webkit-animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) both;animation:headani .8s cubic-bezier(.215,.61,.355,1.000) both}
@-webkit-keyframes headani{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
